[submodule "extras/makers-devops"]
	path = extras/makers-devops
	url = https://github.com/Infineon/makers-devops.git
[submodule "extras/arduino-devops"]
	path = extras/arduino-devops
	url = https://github.com/Infineon/arduino-devops.git
